# LaTeX temporary and output files
*.bak
*.bak.cuix
*.log
*.dvi
*.pdf
*.out
*.aux
*.bbl
*.blg
*.toc
*.lof
*.lot
*.alg
*.acn
*.acr
*.stg
*.sto
*.sts
*.ist
*.mdg
*.mto
*.mts
*.glg
*.glo
*.gls
*.glsdefs
*.synctex
*.synctex(busy)

*/Figures/*.jpg
*/Figures/*.eps

# Folders
Archive/

# Backup files
*~
*.bak
Archive/

# Drawing locks
*.dwl
*.dwl2